@import "variables";

@media (min-width: 768px) {
  .cursor {
    position: fixed;
    background-color: #fff;
    width: 10px;
    height: 10px;
    left: -10px;
    top: -10px;
    border-radius: 100%;
    z-index: 1;
    z-index: 10000;
    transform: scale(0.8);
  }
  


.cursor::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.cursor.active {
    opacity: 0.8;
    transform: scale(6);
  background: #a375ff;
}

.cursor.active::before {
    opacity: 1;
}

.cursor-follower {
    position: fixed;
    background-color: #fff;
    width: 40px;
    height: 40px;
    left: -21px;
    top: -21px;
    mix-blend-mode: difference;
    border-radius: 100%;
    z-index: 999999;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);
    transform: translate(4px, 4px);
  }


.cursor-follower.active {
    opacity: 0.3;
    transform: scale(0);
}
}


