.loading-screen {
  position: absolute;
  z-index: 100000;
  width: 100%;
  height: 100vh;
  background-color: #222222;
  color: white;
  overflow: hidden;
}
.loading-section {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}


#loader {
  font-size: 120px;
  font-family: $fontBold, sans-serif;
}

.transition-container {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 999999;
  pointer-events: none;
}
.transition-container span {
  position: relative;
}
.transition-container.from-left {
  flex-direction: column;
}
.transition-container.from-left span {
  background: #ffffff;
  height: 100%;
  width: 0%;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -10;
} 
.m100 {
  margin-top: 90px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .fixed {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100vw;
    height: 10vh;
    a {
      color: $txtColor;
      text-transform: uppercase;
      font-family: $fontBold, sans-serif;
      position: relative;
    }
    a::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: $txtColor;
      border-radius: 20px;
      scale: 0;
      transform-origin: right;
      transition: scale 0.25s;
    }
    a:hover::before {
      scale: 1;
      transform-origin: left;
    }
  }
}

#vertical {
  height: 80vh;
  width: 100%;
  padding: 0 2rem;
  .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    height: 100%;
    .vertical-content {
      z-index: 10;
      span {
        font-size: 1.5rem;
        color: $txtColor;
      }
      h1 {
        font-size: 1.8rem;
        color: $txtColor;
        font-family: $fontBold, sans-serif;
      }
      h2 {
        display: inline;
        font-size: 1.8rem;
        color: $txtColor;
        font-family: $fontBold, sans-serif;
      }
    }
  }
  .ball{
    display: none;
  }
}
#horizontal {
  width: 100%;
  padding: 0 10px;

  .horizontal__item {
    margin-bottom: 20px;
    border: 1px solid $txtColor;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .description{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    background: $bg-color;
    h3{
      font-size: 1.5rem;
      color: $txtColor;
      font-family: $fontBold, sans-serif;
    }
    h4{
      font-size: 1.5rem;
      color: $txtColor;
      font-family: $fontBold, sans-serif;
    }
  }
}

#about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .container-about {
    width: 90%;
  }
  h2 {
    font-size: 1.8rem;
    color: $txtColor;
    font-family: $fontBold, sans-serif;
    padding-bottom: 1rem;
    text-align: center;
    background: $bg-color;
    border-radius: 20px;
    border: 1px solid $txtColor;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  p {
    font-size: 1rem;
    color: $txtColor;
    font-family: $fontRegular, sans-serif;
    padding-bottom: 1rem;
    text-align: center;
    background-color: $bg-color;
    border-radius: 20px;
    border: 1px solid $txtColor;
    margin-bottom: 2rem;
    padding: 1rem;
  }
  img {
    filter: grayscale(100%);
    border-radius: 20px;
  }
  button {
    width: 200px;
    height: 40px;
    border: 1px solid $txtColor;
    background-color: $bg-color;
    border-radius: 20px;
    margin-top: 1rem;
    a {
      color: $txtColor;
      text-decoration: none;
      font-size: 1rem;
      font-family: $fontBold, sans-serif;
    }
  }
  button:hover {
    background-color: $txtColor;
    a {
      color: $bg-color;
    }
  }
}

#contact {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .form{
  z-index: 100;
  }
  form {
    width: 90vw;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 2rem;
    input,
    textarea {
      border: 0;
      margin: 1rem 0;
      padding: 1rem;
      border: 2px solid $txtColor;
      border-radius: 20px;
      background-color: $bg-color;
      color: $txtColor;
      font-size: 1rem;
    }
    .center {
      display: flex;
      justify-content: center;
    }
    button {
      width: 100px;
      height: 40px;
      background-color: $txtColor;
      border-radius: 20px;
      margin-top: 1rem;
      text-align: center;
      color: $bg-color;
      font-family: $fontBold, sans-serif;
    }
  }
}

@media (min-width: 768px) {
  html {
    scroll-behavior: initial;
  }
  body {
    overflow: hidden;
  }
  #loader {
    font-size: 250px;
    font-family: $fontBold, sans-serif;
  }  
  #word{
    display: block;
  }
  .bg-noise {
    background: url("https://i.ibb.co/FgcVfGG/bg-noise-1.png"), $bg-color;
    background-size: 300px 300px;
    animation: 250ms steps(10, end) 0s infinite alternate-reverse none running
      noise-animation;
    @keyframes noise-animation {
      0% {
        background-position: 0% 0%;
      }
      10% {
        background-position: -5% -5%;
      }
      20% {
        background-position: -10% 5%;
      }
      30% {
        background-position: 5% -10%;
      }
      40% {
        background-position: -5% 15%;
      }
      50% {
        background-position: -10% 5%;
      }
      60% {
        background-position: 5% 5%;
      }
      70% {
        background-position: 0% 10%;
      }
      80% {
        background-position: -5% -5%;
      }
      90% {
        background-position: 10% 5%;
      }
    }
  }
  canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  } 
  .fixed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    z-index: 100;
    padding: 0 2rem;
    a {
      color: $txtColor;
      text-transform: uppercase;
      font-family: $fontBold, sans-serif;
      position: relative;
    }
    a::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: $txtColor;
      border-radius: 20px;
      scale: 0;
      transform-origin: right;
      transition: scale 0.25s;
    }
    a:hover::before {
      scale: 1;
      transform-origin: left;
    }
  }
  .container-horizontal {
    width: 95%;
    margin: auto;
  }

  section {
    padding: 50px 0;
  }

  #vertical {
    height: 100vh;
    width: 100vw;
  }

  .vertical__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;

  }

  .vertical__content .col_left {
    height: 100%;
  }

  .vertical__content .col.col_right {
    width: 100%;
  }

  .vertical__item:not(:last-child) {
    margin-bottom: 240px;
  }

  #horizontal {
    width: 400vw;
    padding: 100px;
    .horizontal__item {
      border: none;

    }
    img{
      border: 2px solid $txtColor;
      border-radius: 20px;
      width: 75vw;
      height: 75vh;
      object-fit: cover;
    }
    .description{
      display: flex;
      padding: 0 2rem;
      justify-content: space-between;
      background: #00000000;
      h3{
        font-size: 2.5rem;
        color: $txtColor;
        font-family: $fontBold, sans-serif;
      }
      h4{
        font-size: 2.5rem;
        color: $txtColor;
        font-family: $fontBold, sans-serif;
      }
    }
  }

  .horizontal__content {
    display: flex;
  }

  .horizontal__item:not(:last-child) {
    margin-right: 50px;
  }

  #about {
    .container-about {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 20px;
        p,
        h2 {
          margin-bottom: 10px;
          border: $txtColor 1px solid;
          padding: 10px;
          border-radius: 20px;
          background: $bg-color;
          text-align: left;
        }
        h2{
          width: 170px;
        }
      }
      .image {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          transition: all 0.5s ease-in-out;
          width: 60%;
        }
        img:hover {
          filter: grayscale(0%);
        }
      }
    }
  }
  #vertical {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .vertical-content {
        span {
          font-size: 2.5rem;
        }
        h1 {
          font-size: 2.8rem;
        }
        h2 {
          display: block;
          font-size: 2.8rem;
        }
      }
      .ball {
        width: 100%;
        height: 100%;
      }
    }
  }
  #contact {
    height: 90vh;
    form {
      width: 50vw;
      justify-content: center;
    }
  }
}
