@import 'variables';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontRegular, sans-serif;
}
ul{
    li{
        list-style: none;
    }
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}

body{
    background-color: $bg-color;
    cursor: none;

}
