$bg-color: #141414;
$txtColor:#ffffff;
$txtBgColor:transparent;
$glitchTime: 1s;
$glitchSteps:10;
$glitchColor: darken($txtColor,50%);

@font-face {
    font-family: 'MainFontBold';
    src: url('/src/font/PPNeueMachina-InktrapBold.woff2 ') format('woff2'),
        url('/src/font/PPNeueMachina-InktrapBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MainFontRegular';
    src: url('/src/font/PPNeueMachina-PlainRegular.woff2') format('woff2'),
        url('/src/font/PPNeueMachina-PlainRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



$fontBold: 'MainFontBold', sans-serif;
$fontRegular: 'MainFontRegular', sans-serif;